In [7]:
import pandas as pd
import os, shutil

In [6]:
df = pd.read_csv('/Users/vishalbns/Desktop/IE7615 Deep Learning/TinyImageNet/tiny-imagenet-200/val/Val_annots.csv')
df

           Name          Image
0     n01443537    val_68.JPEG
1     n01443537   val_611.JPEG
2     n01443537   val_651.JPEG
3     n01443537   val_653.JPEG
4     n01443537   val_886.JPEG
...         ...            ...
9995  n12267677  val_8839.JPEG
9996  n12267677  val_8841.JPEG
9997  n12267677  val_9229.JPEG
9998  n12267677  val_9446.JPEG
9999  n12267677  val_9827.JPEG

[10000 rows x 2 columns]

In [12]:
parent_dir = '/Users/vishalbns/Desktop/IE7615 Deep Learning/TinyImageNet/tiny-imagenet-200/val/'
print(parent_dir+ 'images/' + df.loc[0]['Image'])

/Users/vishalbns/Desktop/IE7615 Deep Learning/TinyImageNet/tiny-imagenet-200/val/images/val_68.JPEG

In [17]:
parent_dir = '/Users/vishalbns/Desktop/IE7615 Deep Learning/TinyImageNet/tiny-imagenet-200/val/'
for i in range(len(df)):
    image_path = os.path.join(parent_dir, df.loc[i]['Name'])
    if not os.path.exists(parent_dir + df.loc[i]['Name']):
        os.mkdir(image_path)
    shutil.copy(parent_dir + 'images/' + df.loc[i]['Image'], image_path)

In [ ]:
df = pd.read_csv('tiny-imagenet-200/val/Val_annots.csv')

parent_dir = 'tiny-imagenet-200/val/'
for i in range(len(df)):
    image_path = os.path.join(parent_dir, df.loc[i]['Name'])
    if not os.path.exists(parent_dir + df.loc[i]['Name']):
        os.mkdir(image_path)
    shutil.copy(parent_dir + 'images/' + df.loc[i]['Image'], image_path)
    
shutil.rmtree(/Users/vishalbns/Desktop/IE7615 Deep Learning/TinyImageNet/tiny-imagenet-200 + 'images)